* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: #326696; /* Fallback color */
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 10; /* Ensure canvas is on top of background */
}
